.nav_bar {
    border-bottom: 1px solid black;
}

.nav_bar a {
    font-size: 24px;
    text-decoration: none;
}

#title_name {
    font-size: 3.5rem;
}

.homepage_project_image {
    max-width: 250px;
    max-height: 250px
    padding-right:10px;
}
.project_card_name  {
    text-align: left;
}

.project_card_about {
    text-align: left;
}

.project_page_description {
    margin-top: 1%;
    margin-left: auto;
    margin_right: auto;
}

h4 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.glitch-1 {
    width: 700px;
    height: 500px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.backglitch {
    width: 700px;
    height: 500px;
    margin-left:auto;
    margin-right:auto;
    display:block;  
}
.caption-stone {
    margin-left:auto;
    margin-right:auto; 
}
.description {
    margin-left: 200 px;
}
.stone-art {
   text-align:center;

}
.sharky-shark {
    width: 800px;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items: center;

}
.shark-comment {
   text-align:center;

}
.shark-comment {
   text-align:center;

}
.song {
   display:flex;
   justify-content:center;
   align-items:center
}

.fire-baby {
    width: auto;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items: center;

}