.succulent-madness {
    width: 700px;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.pigeons_pigeons {
    width: 700px;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
    display:block;  
}
.caption-stone {
    margin-left:auto;
    margin-right:auto; 
}
.pigeon_art {
   text-align:center;
/* Dont have columns */
}
.succulent-art {
   text-align:center;
/* Dont have columns */
}